/* cssicon license: https://github.com/wentin/cssicon/blob/6cd3922dcb1d9220d2e278c7054d3a4c8257bee1/LICENSE */
/* css.gg license: https://github.com/astrit/css.gg/blob/deea4fa5f39a2980d7586aed18d65cdba6fd85e3/LICENSE */

.plus.icon {
  position: relative;
  margin-left: -8px;
  margin-top: 0px;
}
.plus.icon:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
}
.plus.icon:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  transform: rotate(90deg);
}

.arrow-right.icon {
  position: relative;
  margin-left: -8px;
  margin-top: 0px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}
.arrow-right.icon.chevron { background-color: transparent; }
.arrow-right.icon:before {
  content: '';
  position: absolute;
  right: 0px;
  top: -4px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  transform: rotate(45deg);
}
.arrow-right.icon.chevron:before {
  right: 5px;
}

.arrow-left.icon {
  position: relative;
  margin-left: -8px;
  margin-top: 0px;
  width: 16px;
  height: 1px;
  background-color: currentColor;
}
.arrow-left.icon.chevron { background-color: transparent; }
.arrow-left.icon:before {
  content: '';
  position: absolute;
  left: 0px;
  top: -4px;
  width: 10px;
  height: 10px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.arrow-left.icon.chevron:before {
  left: 5px;
}

.key2.icon {
  position: relative;
  margin-left: 10px;
  margin-top: -6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px currentColor;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.key2.icon:before {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 12px;
  height: 1px;
  background-color: currentColor;
}
.key2.icon:after {
  content: '';
  position: absolute;
  left: 12px;
  top: -1px;
  width: 4px;
  height: 3px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
}

.gg-redo {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 14px;
  height: 14px;
  border: 2px solid;
  border-right-color: transparent;
  border-radius: 100px
 }
 .gg-redo::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  top: -3px;
  right: -1px;
  transform: rotate(68deg)
 }

.gg-lock {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 12px;
  height: 11px;
  border: 2px solid;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: transparent;
  margin-top: -12px
 }
.gg-lock::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 10px;
  border-radius: 2px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  left: -4px;
  top: 9px
 }

.gg-log-out {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 6px;
  height: 16px;
  border: 1px solid;
  transform: scale(var(--ggs,1));
  border-right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-top: 0px;
  margin-left: -3px;
 }
 .gg-log-out::after,
 .gg-log-out::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
 }
 .gg-log-out::after {
  border-top: 1px solid;
  border-left: 1px solid;
  transform: rotate(-45deg);
  width: 8px;
  height: 8px;
  left: 4px;
  bottom: 3px
 }
 .gg-log-out::before {
  border-radius: 3px;
  width: 10px;
  height: 1px;
  background: currentColor;
  left: 5px;
  bottom: 6px
 }

.gg-info {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px
}
.gg-info::after,
.gg-info::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentColor;
  left: 7px
}
.gg-info::after {
  bottom: 2px;
  height: 8px
}
.gg-info::before {
  height: 2px;
  top: 2px
}

.gg-girl,
.gg-girl::after,
.gg-girl::before {
 display: block;
 box-sizing: border-box;
 border-radius: 42px
}
.gg-girl {
 position: relative;
 transform: scale(var(--ggs,1));
 width: 20px;
 height: 20px;
 overflow: hidden;
 box-shadow: inset 0 0 0 2px
}
.gg-girl::after,
.gg-girl::before {
 content: "";
 position: absolute;
 width: 2px;
 height: 2px;
 background: currentColor;
 box-shadow: 6px 0 0;
 left: 6px;
 top: 10px
}
.gg-girl::after {
 width: 20px;
 height: 20px;
 top: -11px;
 left: -12px;
 box-shadow: 17px -4px 0 3px
}

.gg-add-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs,1));
  border-radius: 4px
 }
 .gg-add-r::after,
 .gg-add-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px
 }
 .gg-add-r::after {
  width: 2px;
  height: 10px;
  top: 4px;
  left: 8px
 }

.gg-password {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 30px;
  height: 12px;
  border: 2px solid;
  border-radius: 3px
}
.gg-password::after,
.gg-password::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 4px;
  background: currentColor
}
.gg-password::before {
  left: 2px;
  top: 2px;
  box-shadow:
      6px 0 0,
      12px 0 0;
  height: 4px;
  border-radius: 100%
}
.gg-password::after {
  height: 2px;
  right: 2px;
  bottom: 2px
}

.gg-user-add {
  display: block;
  transform: scale(var(--ggs,1));
  box-sizing: border-box;
  width: 20px;
  height: 18px;
  background:
      linear-gradient(
          to left,
          currentColor 8px,
          transparent 0)
          no-repeat 13px 6px/6px 1px,
      linear-gradient(
          to left,
          currentColor 8px,
          transparent 0)
          no-repeat 15px 4px/1px 6px
}
.gg-user-add::after,.gg-user-add::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid
}
.gg-user-add::before {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  top: 0;
  left: 2px
}
.gg-user-add::after {
  width: 12px;
  height: 9px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 9px
}

.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px
}
.gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: currentcolor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg)
}

.gg-danger {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px
}
.gg-danger::after,
.gg-danger::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentcolor;
  left: 7px
}
.gg-danger::after {
  top: 2px;
  height: 8px
}
.gg-danger::before {
  height: 2px;
  bottom: 2px
}

.gg-eye {
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 18px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  box-sizing: border-box
}
.gg-eye::after,
.gg-eye::before {
  content: "";
  display: block;
  border-radius: 100px;
  position: absolute;
  box-sizing: border-box
}
.gg-eye::after {
  top: 2px;
  box-shadow: inset 0 -8px 0 2px,inset 0 0 0 2px;
  width: 24px;
  height: 24px
}
.gg-eye::before {
  width: 8px;
  height: 8px;
  border: 2px solid;
  bottom: 4px;
  left: 8px
}

.gg-eye-alt {
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 18px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  box-sizing: border-box
}
.gg-eye-alt::after,
.gg-eye-alt::before {
  content: "";
  display: block;
  border-radius: 100px;
  position: absolute;
  box-sizing: border-box
}
.gg-eye-alt::after {
  top: 2px;
  box-shadow: inset 0 -8px 0 2px,inset 0 0 0 2px;
  width: 24px;
  height: 24px
}
.gg-eye-alt::before {
  width: 8px;
  height: 8px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 6px,0 0 0 4px,6px 0 0 0,-6px 0 0 0;
  bottom: 4px;
  left: 8px
}
